# AI Assignment 
## ID = 123124301

In [1]:
#Import the libraries I need
import pandas as pd
import numpy as np

from pandas.plotting import scatter_matrix
from seaborn import scatterplot, heatmap

from sklearn.model_selection import train_test_split

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from sklearn.preprocessing import OneHotEncoder

from sklearn.base import BaseEstimator, TransformerMixin

from sklearn.linear_model import Ridge
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate

from sklearn.metrics import mean_absolute_error

from joblib import dump

#Simple Imputer
from sklearn.impute import SimpleImputer

## I first want to look at the dataset, get a picture of what I am working with.

In [2]:
df = pd.read_csv(r"C:\Users\raula\Desktop\facultate\anul 2 sem 1\Artificial Intelligence 1\artificial_intelligence_2023_2024\artificial_intelligence_2023_2024\ai1\datasets\dataset_reoffending.csv")

# Shuffle the dataset
df = df.sample(frac=1, random_state=2)
df.reset_index(drop=True, inplace=True)

In [3]:
df.shape

(25835, 53)

In [4]:
df.describe(include="all")

,id,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,...,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years,reoffended_in_year_1,reoffended_in_year_2,reoffended_in_year_3
count,25835.000000,25835,25835,25835,25835.000000,22668,25360.000000,24115,25835,25835,...,20663.000000,20663.000000,20663.00000,25373.000000,25027.000000,25835,25835,25835,25835,25835
unique,NaN,2,2,7,NaN,2,NaN,3,3,4,...,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
top,NaN,M,black,23-27,NaN,False,NaN,Standard,High School Diploma,0,...,NaN,NaN,NaN,NaN,NaN,False,True,False,False,False
freq,NaN,22668,14847,5176,NaN,18730,NaN,9983,11390,8037,...,NaN,NaN,NaN,NaN,NaN,22399,14904,18111,21268,23222
mean,13314.004838,NaN,NaN,NaN,12.361796,NaN,6.082216,NaN,NaN,NaN,...,0.013741,0.012890,0.00755,0.482331,0.769295,NaN,NaN,NaN,NaN,NaN
std,7722.206327,NaN,NaN,NaN,7.133742,NaN,2.381442,NaN,NaN,NaN,...,0.061233,0.060581,0.04115,0.425004,0.813787,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,6626.500000,NaN,NaN,NaN,6.000000,NaN,4.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,13270.000000,NaN,NaN,NaN,12.000000,NaN,6.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.475728,0.635217,NaN,NaN,NaN,NaN,NaN
75%,20021.500000,NaN,NaN,NaN,18.000000,NaN,8.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.969325,1.000000,NaN,NaN,NaN,NaN,NaN
max,26761.000000,NaN,NaN,NaN,25.000000,NaN,10.000000,NaN,NaN,NaN,...,1.000000,1.000000,1.00000,1.000000,8.000000,NaN,NaN,NaN,NaN,NaN

What i find interesting here is the most subjects are **males**, **black**, and between **age 23-27** and also not with a **high education**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 53 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    25835 non-null  int64
 1   gender                                25835 non-null  object
 2   race                                  25835 non-null  object
 3   age                                   25835 non-null  object
 4   address                               25835 non-null  int64
 5   gang_affiliated                       22668 non-null  object
 6   risk_score                            25360 non-null  float64
 7   supervision_level                     24115 non-null  object
 8   education_level                       25835 non-null  object
 9   dependents                            25835 non-null  object
 10  offence                               22558 non-null  object
 11  years_in_prison                       25835 non-null  object
 12  felony_arrests                        25835 non-null  object
 13  misdemeanor_arrests                   25835 non-null  object
 14  violence_arrests                      25835 non-null  object
 15  property_arrests                      25835 non-null  object
 16  drug_arrests                          25835 non-null  object
 17  parole_violation_arrests              25835 non-null  object
 18  domestic_violence_arrests             25835 non-null  bool
 19  gun_arrests                           25835 non-null  bool
 20  felony_convictions                    25835 non-null  object
 21  misdemeanor_convictions               25835 non-null  object
 22  violence_convictions                  25835 non-null  bool
 23  property_convictions                  25835 non-null  object
 24  drug_convictions                      25835 non-null  object
 25  parole_violation_convictions          25835 non-null  bool
 26  domestic_violence_convictions         25835 non-null  bool
 27  gun_convictions                       25835 non-null  bool
 28  parole_revocations                    25835 non-null  bool
 29  probation_revocations                 25835 non-null  bool
 30  mh_sa_programme                       25835 non-null  bool
 31  cs_programme                          25835 non-null  bool
 32  other_condition                       25835 non-null  bool
 33  electronic_monitoring_violations      25835 non-null  bool
 34  instruction_following_violations      25835 non-null  bool
 35  failure_to_report_violations          25835 non-null  bool
 36  moving_without_permission_violations  25835 non-null  bool
 37  num_delinquency_reports               25835 non-null  object
 38  num_program_attendances               25835 non-null  object
 39  num_unexcused_absences                25835 non-null  object
 40  num_residence_changes                 25835 non-null  object
 41  days_between_drug_tests               19732 non-null  float64
 42  marijuana_positive_tests              20663 non-null  float64
 43  cocaine_positive_tests                20663 non-null  float64
 44  meth_positive_tests                   20663 non-null  float64
 45  other_positive_tests                  20663 non-null  float64
 46  days_employed                         25373 non-null  float64
 47  jobs_per_year                         25027 non-null  float64
 48  employment_exempt                     25835 non-null  bool
 49  reoffended_within_3_years             25835 non-null  bool
 50  reoffended_in_year_1                  25835 non-null  bool
 51  reoffended_in_year_2                  25835 non-null  bool
 52  reoffended_in_year_3                  25835 non-null  bool
dtypes: bool(20), float64(8), int64(2), object(23)
memory usage: 7.0+ MB

There are a lot of features, but also a lot of which I would like to get a clue what are they made from so I will continue with that.

In [6]:
print("gang_affiliated = ", df["gang_affiliated"].unique())
print("supervision_level = " , df["supervision_level"].unique())
print("education_level = ",df["education_level"].unique())
print("dependents = ", df["dependents"].unique())
print("offence = ", df["offence"].unique())
print("years_in_prison = ", df["years_in_prison"].unique())
print("felony_arrests = ", df["felony_arrests"].unique())
print("violence_arrests = ", df["violence_arrests"].unique())
print("property_arrests = ", df["property_arrests"].unique())
print("drug_arrests = ", df["drug_arrests"].unique())
print("parole_violation_arrests = ", df["parole_violation_arrests"].unique())
print("domestic_violence_arrests = ", df["domestic_violence_arrests"].unique())
print("gun_arrests = ", df["gun_arrests"].unique())
print("felony_convictions = ", df["felony_convictions"].unique())
print("misdemeanor_convictions  = ", df["misdemeanor_convictions"].unique())
print("property_convictions = ", df["property_convictions"].unique())
print("parole_revocations = ", df["parole_revocations"].unique())
print("probation_revocations = ", df["probation_revocations"].unique())
print("other_condition = ", df["other_condition"].unique())
print("num_delinquency_reports = ", df["num_delinquency_reports"].unique())
print("reoffended_in_year_3 = ", df["reoffended_in_year_3"].unique())

gang_affiliated =  [nan False True]
supervision_level =  ['High' 'Standard' 'Specialized' nan]
education_level =  ['At least some college' 'High School Diploma' 'Less than HS diploma']
dependents =  ['3 or more' '0' '2' '1']
offence =  ['Property' 'Violent/Non-Sex' nan 'Other' 'Drug' 'Violent/Sex']
years_in_prison =  ['Less than 1 year' '1-2 years' 'More than 3 years'
 'Greater than 2 to 3 years']
felony_arrests =  ['3' '5' '2' '4' '6' '10 or more' '9' '0' '7' '1' '8']
violence_arrests =  ['0' '3 or more' '2' '1']
property_arrests =  ['2' '5 or more' '1' '4' '3' '0']
drug_arrests =  ['1' '0' '3' '4' '2' '5 or more']
parole_violation_arrests =  ['2' '4' '5 or more' '0' '3' '1']
domestic_violence_arrests =  [False  True]
gun_arrests =  [False  True]
felony_convictions =  ['1' '2' '0' '3 or more']
misdemeanor_convictions  =  ['1' '4 or more' '0' '3' '2']
property_convictions =  ['1' '3 or more' '0' '2']
parole_revocations =  [False  True]
probation_revocations =  [False  True]
other_condition =  [ True False]
num_delinquency_reports =  ['0' '4 or more' '3' '1' '2']
reoffended_in_year_3 =  [False  True]

So far I have drawn some conclusions about the next:

* **felony_arrests** -> we have a wide variety and I would like afterwards to see how felony_arrests plots with reoffences that happened in 3 years
* **other_condition** -> other, including no electronic monitoring, enrolment on a sex offender programme or no victim contact
* **days_employed** and **jobs_per_year** -> might be good indicators towards reoffending or not

There are also a lot of features like arrest, convictions, violations, drug tests that I think will be in close relationship with the probability of reoffending or not
Also, as seen above there are feature with nan values so I need to see what I do with them, if I leave them, change them or drop them.

In [7]:
#Because we are only asked to predict reoffending within three years I will drop the other columns I am not interested in
df = df.drop(labels=["reoffended_in_year_1", "reoffended_in_year_2", "reoffended_in_year_3"],axis=1)

In [8]:
df.shape

(25835, 50)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 50 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    25835 non-null  int64
 1   gender                                25835 non-null  object
 2   race                                  25835 non-null  object
 3   age                                   25835 non-null  object
 4   address                               25835 non-null  int64
 5   gang_affiliated                       22668 non-null  object
 6   risk_score                            25360 non-null  float64
 7   supervision_level                     24115 non-null  object
 8   education_level                       25835 non-null  object
 9   dependents                            25835 non-null  object
 10  offence                               22558 non-null  object
 11  years_in_prison                       25835 non-null  object
 12  felony_arrests                        25835 non-null  object
 13  misdemeanor_arrests                   25835 non-null  object
 14  violence_arrests                      25835 non-null  object
 15  property_arrests                      25835 non-null  object
 16  drug_arrests                          25835 non-null  object
 17  parole_violation_arrests              25835 non-null  object
 18  domestic_violence_arrests             25835 non-null  bool
 19  gun_arrests                           25835 non-null  bool
 20  felony_convictions                    25835 non-null  object
 21  misdemeanor_convictions               25835 non-null  object
 22  violence_convictions                  25835 non-null  bool
 23  property_convictions                  25835 non-null  object
 24  drug_convictions                      25835 non-null  object
 25  parole_violation_convictions          25835 non-null  bool
 26  domestic_violence_convictions         25835 non-null  bool
 27  gun_convictions                       25835 non-null  bool
 28  parole_revocations                    25835 non-null  bool
 29  probation_revocations                 25835 non-null  bool
 30  mh_sa_programme                       25835 non-null  bool
 31  cs_programme                          25835 non-null  bool
 32  other_condition                       25835 non-null  bool
 33  electronic_monitoring_violations      25835 non-null  bool
 34  instruction_following_violations      25835 non-null  bool
 35  failure_to_report_violations          25835 non-null  bool
 36  moving_without_permission_violations  25835 non-null  bool
 37  num_delinquency_reports               25835 non-null  object
 38  num_program_attendances               25835 non-null  object
 39  num_unexcused_absences                25835 non-null  object
 40  num_residence_changes                 25835 non-null  object
 41  days_between_drug_tests               19732 non-null  float64
 42  marijuana_positive_tests              20663 non-null  float64
 43  cocaine_positive_tests                20663 non-null  float64
 44  meth_positive_tests                   20663 non-null  float64
 45  other_positive_tests                  20663 non-null  float64
 46  days_employed                         25373 non-null  float64
 47  jobs_per_year                         25027 non-null  float64
 48  employment_exempt                     25835 non-null  bool
 49  reoffended_within_3_years             25835 non-null  bool
dtypes: bool(17), float64(8), int64(2), object(23)
memory usage: 6.9+ MB

In [10]:
#Now I want to separate the featuers so it will be easier to manipulate them 
numeric_features = ["id", "address", "risk_score", "days_between_drug_tests", "marijuana_positive_tests", "cocaine_positive_tests",
                   "meth_positive_tests", "other_positive_tests", "days_employed", "jobs_per_year"]
nominal_features = ["gender", "race", "age", "gang_affiliated", "supervision_level", "education_level", "dependents", "offence",
                   "years_in_prison", "felony_arrests", "misdemeanor_arrests", "violence_arrests", "property_arrests", "drug_arrests",
                   "parole_violation_arrests", "felony_convictions", "misdemeanor_convictions", "property_convictions", "drug_convictions",
                   "num_delinquency_reports", "num_program_attendances", "num_unexcused_absences", "num_residence_changes"]
boolean_features = ["domestic_violence_arrests", "gun_arrests", "violence_convictions", "parole_violation_convictions", "domestic_violence_convictions",
                   "gun_convictions", "parole_revocations", "probation_revocations", "mh_sa_programme", "cs_programme", "other_condition",
                   "electronic_monitoring_violations", "instruction_following_violations", "failure_to_report_violations", "moving_without_permission_violations",
                   "employment_exempt"] #reoffended_within_3_years this is our y so I won't add it here
print(len(numeric_features), len(nominal_features), len(boolean_features)) #just to check I didn't miss anythign

10 23 16

#### Before I start to visualize data I should look at values like NaN and decide what to do with them, also I should look like values that don't seem right

In [11]:
#First for numeric features
df[numeric_features].describe(include="all")

,id,address,risk_score,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year
count,25835.000000,25835.000000,25360.000000,19732.000000,20663.000000,20663.000000,20663.000000,20663.00000,25373.000000,25027.000000
mean,13314.004838,12.361796,6.082216,93.890044,0.063350,0.013741,0.012890,0.00755,0.482331,0.769295
std,7722.206327,7.133742,2.381442,117.169847,0.138453,0.061233,0.060581,0.04115,0.425004,0.813787
min,1.000000,1.000000,1.000000,0.500000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,6626.500000,6.000000,4.000000,28.837366,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,13270.000000,12.000000,6.000000,55.424812,0.000000,0.000000,0.000000,0.00000,0.475728,0.635217
75%,20021.500000,18.000000,8.000000,110.333333,0.071429,0.000000,0.000000,0.00000,0.969325,1.000000
max,26761.000000,25.000000,10.000000,1088.500000,1.000000,1.000000,1.000000,1.00000,1.000000,8.000000

In [12]:
df[df["days_between_drug_tests"] > 1088].describe() #This looks okay since no results came back positive from the drug tests

,id,address,risk_score,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000
mean,11708.0,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,11708.0,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
25%,11708.0,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
50%,11708.0,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
75%,11708.0,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
max,11708.0,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554

Except for that, which turned out to not be noise, nothing seems out of the ordinary at numeric_features, now I need to look at missing values.

In [13]:
df[numeric_features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        25835 non-null  int64
 1   address                   25835 non-null  int64
 2   risk_score                25360 non-null  float64
 3   days_between_drug_tests   19732 non-null  float64
 4   marijuana_positive_tests  20663 non-null  float64
 5   cocaine_positive_tests    20663 non-null  float64
 6   meth_positive_tests       20663 non-null  float64
 7   other_positive_tests      20663 non-null  float64
 8   days_employed             25373 non-null  float64
 9   jobs_per_year             25027 non-null  float64
dtypes: float64(8), int64(2)
memory usage: 2.0 MB

In [14]:
df[df["risk_score"].isnull()]

,id,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
26,23224,F,black,18-22,8,NaN,NaN,NaN,Less than HS diploma,1,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,False
83,24278,M,black,28-32,19,False,NaN,NaN,Less than HS diploma,1,...,0,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,False,False
98,25826,F,black,28-32,6,NaN,NaN,Standard,High School Diploma,0,...,0,NaN,0.090909,0.0,0.0,0.0,0.000000,0.000000,False,False
120,4184,M,white,33-37,1,False,NaN,NaN,Less than HS diploma,0,...,3 or more,96.333333,0.000000,0.0,0.0,0.0,1.000000,3.000000,False,False
269,22928,M,white,33-37,24,False,NaN,NaN,High School Diploma,0,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25565,2746,M,black,28-32,19,True,NaN,Specialized,High School Diploma,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,True
25632,22727,M,white,18-22,8,False,NaN,NaN,Less than HS diploma,0,...,0,37.800000,0.000000,0.0,0.0,0.0,0.142857,0.966270,False,True
25663,11653,F,black,48 or older,12,NaN,NaN,Standard,High School Diploma,2,...,0,56.666667,0.000000,0.0,0.0,0.0,0.000000,0.000000,True,False
25692,1264,M,white,48 or older,5,False,NaN,NaN,High School Diploma,1,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,True
25813,22424,M,white,33-37,5,False,NaN,NaN,High School Diploma,0,...,0,99.250000,0.250000,0.0,0.0,0.0,0.030227,0.920025,False,True

In [15]:
x = df[df["days_between_drug_tests"].isnull()]
df[df["days_between_drug_tests"].isnull()].head()

,id,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
0,12869,F,white,28-32,17,NaN,8.0,High,At least some college,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,0.791123,0.953655,False,False
9,14703,M,black,28-32,7,False,7.0,High,Less than HS diploma,2,...,3 or more,NaN,NaN,NaN,NaN,NaN,1.000000,2.294284,False,False
14,5649,M,white,38-42,17,False,2.0,Standard,Less than HS diploma,2,...,0,NaN,NaN,NaN,NaN,NaN,0.228145,0.778785,False,True
17,20906,M,white,33-37,4,True,8.0,High,At least some college,3 or more,...,1,NaN,NaN,NaN,NaN,NaN,0.835132,0.716879,False,True
26,23224,F,black,18-22,8,NaN,NaN,NaN,Less than HS diploma,1,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,False

I was first looking at the inmates that don't have a risk score but after some searching on the inernet I have found out that inmates are not always associated risk scores, this could explain the missing values. However, what caught my attention was inmates that had NaN at "days_between_drug_tests". I looked it up again and apparently it is also not necessarily to get drug tested.

In [16]:
x[x["offence"] == "Drug"]

,id,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
41,11928,F,black,48 or older,10,NaN,3.0,Standard,High School Diploma,2,...,3 or more,NaN,0.008547,0.034188,0.008547,0.008547,NaN,NaN,True,False
66,5415,M,black,38-42,8,False,4.0,Standard,High School Diploma,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,True,True
73,4128,M,black,48 or older,20,False,3.0,NaN,At least some college,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,False,False
118,4859,M,black,33-37,25,False,7.0,High,High School Diploma,2,...,0,NaN,NaN,NaN,NaN,NaN,0.098720,0.667733,False,True
139,14487,M,white,48 or older,3,False,8.0,High,High School Diploma,2,...,0,NaN,NaN,NaN,NaN,NaN,0.284848,1.000000,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25782,21948,F,white,48 or older,8,NaN,4.0,Standard,At least some college,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,0.998807,0.435859,True,False
25784,13020,M,white,48 or older,13,False,5.0,NaN,At least some college,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,False
25790,12754,M,black,28-32,20,True,6.0,High,Less than HS diploma,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,1.000000,0.758567,False,False
25808,15104,M,black,38-42,22,True,5.0,Standard,High School Diploma,3 or more,...,1,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,False,True
25824,23916,M,black,33-37,14,False,9.0,Specialized,Less than HS diploma,2,...,2,NaN,0.333333,0.000000,0.000000,0.000000,NaN,NaN,False,False

In [17]:
x.describe(include="all")

,id,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
count,6103.000000,6103,6103,6103,6103.000000,5367,5882.000000,5470,6103,6103,...,6103,0.0,931.000000,931.000000,931.000000,931.000000,5641.000000,5295.000000,6103,6103
unique,NaN,2,2,7,NaN,2,NaN,3,3,4,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
top,NaN,M,black,28-32,NaN,False,NaN,Standard,High School Diploma,3 or more,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True
freq,NaN,5367,3553,1136,NaN,4456,NaN,2736,2613,1901,...,3424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5341,3523
mean,12852.720301,NaN,NaN,NaN,12.302474,NaN,5.612377,NaN,NaN,NaN,...,NaN,NaN,0.040543,0.006799,0.008870,0.003783,0.337002,0.600346,NaN,NaN
std,7698.797402,NaN,NaN,NaN,7.070113,NaN,2.292808,NaN,NaN,NaN,...,NaN,NaN,0.134651,0.042350,0.068504,0.022517,0.422280,0.757955,NaN,NaN
min,9.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,6050.500000,NaN,NaN,NaN,7.000000,NaN,4.000000,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,12698.000000,NaN,NaN,NaN,12.000000,NaN,6.000000,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.278392,NaN,NaN
75%,19497.000000,NaN,NaN,NaN,18.000000,NaN,7.000000,NaN,NaN,NaN,...,NaN,NaN,0.016808,0.000000,0.000000,0.000000,0.836383,1.000000,NaN,NaN
max,26759.000000,NaN,NaN,NaN,25.000000,NaN,10.000000,NaN,NaN,NaN,...,NaN,NaN,1.000000,1.000000,1.000000,0.500000,1.000000,5.000000,NaN,NaN

#### Conclusions drawn so far

I observed that there are inmates whose values for days between drug tests are NaN and also the drug positive test ratios are NaN this makes me believe that this inmates were not required by law to take drug tests, therefore I have made the decision to change these values all to 0. However, there are also inmates who seem to have been tested for drug tests because they had taken tests which came back positive, but there is no value for the "days_between_drug_tests" which makes no sense. Here I have decided to replace their values by the mean of the other "days_between_tests".

In [18]:
#to make an idea of the ratio between these types where is null-null and null-notNull
print(x[ x["days_between_drug_tests"].isnull() & x["marijuana_positive_tests"].notnull() ].shape)
print(x[ x["days_between_drug_tests"].isnull() & x["marijuana_positive_tests"].isnull() ].shape)
print(x.shape)

(931, 50)
(5172, 50)
(6103, 50)

In [19]:
imp_constant = SimpleImputer(strategy='constant', fill_value=0)
imp_mean = SimpleImputer(missing_values = np.nan, strategy='mean')

In [20]:
#I make a copy in case i screw up something
copy_df = df.copy()

#First i want to change only the columns where the 2 values are both null and replace them with constants
drug_tests = ["days_between_drug_tests", "marijuana_positive_tests", "cocaine_positive_tests", "meth_positive_tests", "other_positive_tests"]
copy2_df = copy_df[drug_tests] 
condition = copy2_df["days_between_drug_tests"].isnull() & copy2_df["marijuana_positive_tests"].isnull() & copy2_df["cocaine_positive_tests"].isnull() & copy2_df["meth_positive_tests"].isnull() & copy2_df["other_positive_tests"].isnull() 
copy2_df.loc[condition] = imp_constant.fit_transform(copy2_df[condition])

#Now I place the changes in my copy
copy_df[drug_tests] = copy2_df

#Second let's change those values where there is no record for "days_between_drug_tests" but from the ratio of positive tests we can deduce that tests were made
drug_tests = ["days_between_drug_tests"]
copy2_df = copy_df[drug_tests] 
copy2_df = imp_mean.fit_transform(copy2_df)

#Now I place the changes in my copy
copy_df[drug_tests] = copy2_df

#Place in the main df the changes I have made
df = copy_df.copy()

C:\Users\raula\AppData\Local\Temp\ipykernel_31796\508898414.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy2_df.loc[condition] = imp_constant.fit_transform(copy2_df[condition])

Now that I have dealt with those features I still have some features that have NaN values and I need to impute them: risk_score, days_employed and jobs_per_year.

* **risk_score**: As I said above there are cases where no risk_score is given to an inmate, so after I do a second check and I look at the distribution of felonies and more, I will decide if i will replace all NaN with 1 (since risk_score is from 1 to 10, I think giving the 0 is not appropiate)
* **days_employed** and **jobs_per_year**: Here I think it is the best to replace the NaN by the mean of the others

In [22]:
#This is to see the distribution of fellonies and more where risk_score is null
copy2_df = df[df["risk_score"].isnull()]

for ft in nominal_features:
    unique_ft = copy2_df[ft].unique()
    unique_dictionary = {}
    for ft2 in unique_ft:
        unique_dictionary[ft2] = 0
        for i in copy2_df[ft]:
            if i == ft2:
                unique_dictionary[ft2] += 1

    print(ft, unique_dictionary)

gender {'F': 63, 'M': 412}
race {'black': 280, 'white': 195}
age {'18-22': 30, '28-32': 100, '33-37': 67, '23-27': 84, '38-42': 65, '48 or older': 92, '43-47': 37}
gang_affiliated {nan: 0, False: 338, True: 74}
supervision_level {nan: 0, 'Standard': 66, 'High': 38, 'Specialized': 56}
education_level {'Less than HS diploma': 165, 'High School Diploma': 214, 'At least some college': 96}
dependents {'1': 103, '0': 151, '2': 97, '3 or more': 124}
offence {'Property': 195, 'Other': 60, 'Drug': 71, 'Violent/Non-Sex': 89, nan: 0, 'Violent/Sex': 13}
years_in_prison {'1-2 years': 135, 'Less than 1 year': 216, 'Greater than 2 to 3 years': 68, 'More than 3 years': 56}
felony_arrests {'3': 40, '5': 44, '1': 27, '7': 33, '6': 47, '10 or more': 154, '2': 37, '4': 42, '8': 27, '9': 22, '0': 2}
misdemeanor_arrests {'2': 55, '5': 38, '4': 57, '3': 51, '6 or more': 165, '0': 58, '1': 51}
violence_arrests {'0': 198, '1': 128, '3 or more': 76, '2': 73}
property_arrests {'4': 37, '1': 86, '2': 59, '0': 76, '5 or more': 162, '3': 55}
drug_arrests {'0': 159, '3': 55, '1': 108, '2': 77, '5 or more': 48, '4': 28}
parole_violation_arrests {'1': 67, '2': 78, '0': 90, '3': 51, '5 or more': 147, '4': 42}
felony_convictions {'2': 79, '0': 114, '1': 122, '3 or more': 160}
misdemeanor_convictions {'2': 80, '1': 108, '4 or more': 117, '0': 114, '3': 56}
property_convictions {'3 or more': 144, '0': 149, '1': 112, '2': 70}
drug_convictions {'0': 242, '1': 122, '2 or more': 111}
num_delinquency_reports {'0': 372, '4 or more': 35, '1': 25, '3': 28, '2': 15}
num_program_attendances {'0': 370, '8': 4, '2': 13, '6': 27, '9': 4, '1': 11, '7': 12, '5': 8, '3': 2, '10 or more': 15, '4': 9}
num_unexcused_absences {'0': 428, '1': 15, '3 or more': 18, '2': 14}
num_residence_changes {'0': 283, '3 or more': 21, '2': 39, '1': 132}

From what I can see there are certain characteristics for inmates that would not resemble a high risk criminal (not so much time spent in prison, younger persons, more arrests than convictions), but still there are also inmates who might oppose a greater risk, for example persons with "3 or more" felony convictions.

What I have decided is to replace the NaN values of risk_score with the most frequent score, but take in consideration only the ones whose score isnt higher than 4.

With days_employed and jobs_per_year I will compute the mean.

In [29]:
#create a copy of df
copy_df = df.copy()

"""
unique_ft = copy_df["risk_score"].unique()
unique_dictionary = {}

print(copy_df["risk_score"].values)

for ft2 in unique_ft:
    print(ft2)
    unique_dictionary[ft2] = 0
    for i in copy_df["risk_score"].values:
        if i == ft2:
            unique_dictionary[ft2] += 1

print(ft, unique_dictionary)
"""
#I had trouble with the imputer(strategy="most_frequent") so I found the most_frequent value which is 4 and I am going to use imputer(strategy="constant")

#create the imputers
imp_constant = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=4.0)
#I still have the imputer for the mean from last time

#change the NaN values with 4.0
copy2_df = copy_df[["risk_score"]].copy()
copy2_df = imp_constant.fit_transform(copy2_df)

copy_df[["risk_score"]] = copy2_df

#I'll impute the values with the mean for days_employed and jobs_per_year
copy_df[numeric_features] = imp_mean.fit_transform(copy_df[numeric_features])

df = copy_df.copy()

##### Now that I have replaced the NaN values for the numeric_features is time to move to the nominal_features

In [30]:
df[nominal_features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    25835 non-null  object
 1   race                      25835 non-null  object
 2   age                       25835 non-null  object
 3   gang_affiliated           22668 non-null  object
 4   supervision_level         24115 non-null  object
 5   education_level           25835 non-null  object
 6   dependents                25835 non-null  object
 7   offence                   22558 non-null  object
 8   years_in_prison           25835 non-null  object
 9   felony_arrests            25835 non-null  object
 10  misdemeanor_arrests       25835 non-null  object
 11  violence_arrests          25835 non-null  object
 12  property_arrests          25835 non-null  object
 13  drug_arrests              25835 non-null  object
 14  parole_violation_arrests  25835 non-null  object
 15  felony_convictions        25835 non-null  object
 16  misdemeanor_convictions   25835 non-null  object
 17  property_convictions      25835 non-null  object
 18  drug_convictions          25835 non-null  object
 19  num_delinquency_reports   25835 non-null  object
 20  num_program_attendances   25835 non-null  object
 21  num_unexcused_absences    25835 non-null  object
 22  num_residence_changes     25835 non-null  object
dtypes: object(23)
memory usage: 4.5+ MB

#### The following nominal features have NaN values
* **gang_affiliated**
* **supervision_level**
* **offence**

In [44]:
print(df[df["gang_affiliated"].isnull()].shape)
copy_df = df[df["gang_affiliated"].isnull()]

(3167, 50)

In [45]:
copy_df[copy_df["gender"] == "F"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 3167 entries, 0 to 25828
Data columns (total 50 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    3167 non-null   float64
 1   gender                                3167 non-null   object
 2   race                                  3167 non-null   object
 3   age                                   3167 non-null   object
 4   address                               3167 non-null   float64
 5   gang_affiliated                       0 non-null      object
 6   risk_score                            3167 non-null   float64
 7   supervision_level                     2961 non-null   object
 8   education_level                       3167 non-null   object
 9   dependents                            3167 non-null   object
 10  offence                               2824 non-null   object
 11  years_in_prison                       3167 non-null   object
 12  felony_arrests                        3167 non-null   object
 13  misdemeanor_arrests                   3167 non-null   object
 14  violence_arrests                      3167 non-null   object
 15  property_arrests                      3167 non-null   object
 16  drug_arrests                          3167 non-null   object
 17  parole_violation_arrests              3167 non-null   object
 18  domestic_violence_arrests             3167 non-null   bool
 19  gun_arrests                           3167 non-null   bool
 20  felony_convictions                    3167 non-null   object
 21  misdemeanor_convictions               3167 non-null   object
 22  violence_convictions                  3167 non-null   bool
 23  property_convictions                  3167 non-null   object
 24  drug_convictions                      3167 non-null   object
 25  parole_violation_convictions          3167 non-null   bool
 26  domestic_violence_convictions         3167 non-null   bool
 27  gun_convictions                       3167 non-null   bool
 28  parole_revocations                    3167 non-null   bool
 29  probation_revocations                 3167 non-null   bool
 30  mh_sa_programme                       3167 non-null   bool
 31  cs_programme                          3167 non-null   bool
 32  other_condition                       3167 non-null   bool
 33  electronic_monitoring_violations      3167 non-null   bool
 34  instruction_following_violations      3167 non-null   bool
 35  failure_to_report_violations          3167 non-null   bool
 36  moving_without_permission_violations  3167 non-null   bool
 37  num_delinquency_reports               3167 non-null   object
 38  num_program_attendances               3167 non-null   object
 39  num_unexcused_absences                3167 non-null   object
 40  num_residence_changes                 3167 non-null   object
 41  days_between_drug_tests               3167 non-null   float64
 42  marijuana_positive_tests              3167 non-null   float64
 43  cocaine_positive_tests                3167 non-null   float64
 44  meth_positive_tests                   3167 non-null   float64
 45  other_positive_tests                  3167 non-null   float64
 46  days_employed                         3167 non-null   float64
 47  jobs_per_year                         3167 non-null   float64
 48  employment_exempt                     3167 non-null   bool
 49  reoffended_within_3_years             3167 non-null   bool
dtypes: bool(17), float64(10), object(23)
memory usage: 893.8+ KB

#### All NaN from "gang_affiliated" column are females
I found out that all the inmates who don't have a value for the column "gang_affiliated" are females so I think it would be best to replace the NaN
with the most_frequent value found in the column, but take into consideration only the inmates which are females.

In [46]:
print(df[df["supervision_level"].isnull()].shape)
df[df["supervision_level"].isnull()]

(1720, 50)

,id,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
21,2498.0,F,black,48 or older,14.0,NaN,1.0,NaN,Less than HS diploma,0,...,0,150.333333,0.00,0.0,0.0,0.0,0.995565,0.809867,True,False
26,23224.0,F,black,18-22,8.0,NaN,4.0,NaN,Less than HS diploma,1,...,0,0.000000,0.00,0.0,0.0,0.0,0.000000,0.000000,False,False
33,370.0,M,black,48 or older,20.0,False,5.0,NaN,At least some college,2,...,1,18.600000,0.00,0.0,0.0,0.0,0.000000,0.000000,False,False
46,23593.0,M,black,28-32,20.0,False,4.0,NaN,Less than HS diploma,3 or more,...,1,136.250000,0.25,0.0,0.0,0.0,1.000000,1.340367,False,False
73,4128.0,M,black,48 or older,20.0,False,3.0,NaN,At least some college,3 or more,...,0,0.000000,0.00,0.0,0.0,0.0,1.000000,2.000000,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,4010.0,F,black,48 or older,17.0,NaN,3.0,NaN,At least some college,2,...,0,31.900000,0.00,0.0,0.0,0.0,1.000000,2.000000,False,True
25784,13020.0,M,white,48 or older,13.0,False,5.0,NaN,At least some college,3 or more,...,0,0.000000,0.00,0.0,0.0,0.0,0.000000,0.000000,False,False
25807,8364.0,M,black,48 or older,4.0,False,3.0,NaN,High School Diploma,0,...,1,86.800000,0.00,0.2,0.0,0.0,1.000000,1.683180,False,True
25811,24086.0,M,white,33-37,19.0,False,4.0,NaN,Less than HS diploma,1,...,0,46.777778,0.00,0.0,0.0,0.0,0.567696,0.867577,False,True
25813,22424.0,M,white,33-37,5.0,False,4.0,NaN,High School Diploma,0,...,0,99.250000,0.25,0.0,0.0,0.0,0.030227,0.920025,False,True

In [52]:
copy_df = df[df["supervision_level"].isnull()]
df[df["supervision_level"].isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1720 entries, 21 to 25813
Data columns (total 50 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    1720 non-null   float64
 1   gender                                1720 non-null   object
 2   race                                  1720 non-null   object
 3   age                                   1720 non-null   object
 4   address                               1720 non-null   float64
 5   gang_affiliated                       1514 non-null   object
 6   risk_score                            1720 non-null   float64
 7   supervision_level                     0 non-null      object
 8   education_level                       1720 non-null   object
 9   dependents                            1720 non-null   object
 10  offence                               1504 non-null   object
 11  years_in_prison                       1720 non-null   object
 12  felony_arrests                        1720 non-null   object
 13  misdemeanor_arrests                   1720 non-null   object
 14  violence_arrests                      1720 non-null   object
 15  property_arrests                      1720 non-null   object
 16  drug_arrests                          1720 non-null   object
 17  parole_violation_arrests              1720 non-null   object
 18  domestic_violence_arrests             1720 non-null   bool
 19  gun_arrests                           1720 non-null   bool
 20  felony_convictions                    1720 non-null   object
 21  misdemeanor_convictions               1720 non-null   object
 22  violence_convictions                  1720 non-null   bool
 23  property_convictions                  1720 non-null   object
 24  drug_convictions                      1720 non-null   object
 25  parole_violation_convictions          1720 non-null   bool
 26  domestic_violence_convictions         1720 non-null   bool
 27  gun_convictions                       1720 non-null   bool
 28  parole_revocations                    1720 non-null   bool
 29  probation_revocations                 1720 non-null   bool
 30  mh_sa_programme                       1720 non-null   bool
 31  cs_programme                          1720 non-null   bool
 32  other_condition                       1720 non-null   bool
 33  electronic_monitoring_violations      1720 non-null   bool
 34  instruction_following_violations      1720 non-null   bool
 35  failure_to_report_violations          1720 non-null   bool
 36  moving_without_permission_violations  1720 non-null   bool
 37  num_delinquency_reports               1720 non-null   object
 38  num_program_attendances               1720 non-null   object
 39  num_unexcused_absences                1720 non-null   object
 40  num_residence_changes                 1720 non-null   object
 41  days_between_drug_tests               1720 non-null   float64
 42  marijuana_positive_tests              1720 non-null   float64
 43  cocaine_positive_tests                1720 non-null   float64
 44  meth_positive_tests                   1720 non-null   float64
 45  other_positive_tests                  1720 non-null   float64
 46  days_employed                         1720 non-null   float64
 47  jobs_per_year                         1720 non-null   float64
 48  employment_exempt                     1720 non-null   bool
 49  reoffended_within_3_years             1720 non-null   bool
dtypes: bool(17), float64(10), object(23)
memory usage: 485.4+ KB

In [55]:
copy_df[copy_df["gender"] == "F"].shape

(206, 50)