# AI Assignment 
## ID = 123124301

In [1]:
#Import the libraries I need
import pandas as pd
import numpy as np

from pandas.plotting import scatter_matrix
from seaborn import scatterplot, heatmap

from sklearn.model_selection import train_test_split

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from sklearn.preprocessing import OneHotEncoder

from sklearn.base import BaseEstimator, TransformerMixin

from sklearn.linear_model import Ridge
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate

from sklearn.metrics import mean_absolute_error

from joblib import dump

#Simple Imputer
from sklearn.impute import SimpleImputer

## I first want to look at the dataset, get a picture of what I am working with.

In [2]:
df = pd.read_csv(r"C:\Users\raula\Desktop\facultate\anul 2 sem 1\Artificial Intelligence 1\artificial_intelligence_2023_2024\artificial_intelligence_2023_2024\ai1\datasets\dataset_reoffending.csv")

# Shuffle the dataset
df = df.sample(frac=1, random_state=2)
df.reset_index(drop=True, inplace=True)

In [3]:
df.shape

(25835, 53)

In [4]:
df.describe(include="all")

,id,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,...,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years,reoffended_in_year_1,reoffended_in_year_2,reoffended_in_year_3
count,25835.000000,25835,25835,25835,25835.000000,22668,25360.000000,24115,25835,25835,...,20663.000000,20663.000000,20663.00000,25373.000000,25027.000000,25835,25835,25835,25835,25835
unique,NaN,2,2,7,NaN,2,NaN,3,3,4,...,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
top,NaN,M,black,23-27,NaN,False,NaN,Standard,High School Diploma,0,...,NaN,NaN,NaN,NaN,NaN,False,True,False,False,False
freq,NaN,22668,14847,5176,NaN,18730,NaN,9983,11390,8037,...,NaN,NaN,NaN,NaN,NaN,22399,14904,18111,21268,23222
mean,13314.004838,NaN,NaN,NaN,12.361796,NaN,6.082216,NaN,NaN,NaN,...,0.013741,0.012890,0.00755,0.482331,0.769295,NaN,NaN,NaN,NaN,NaN
std,7722.206327,NaN,NaN,NaN,7.133742,NaN,2.381442,NaN,NaN,NaN,...,0.061233,0.060581,0.04115,0.425004,0.813787,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,6626.500000,NaN,NaN,NaN,6.000000,NaN,4.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,13270.000000,NaN,NaN,NaN,12.000000,NaN,6.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.475728,0.635217,NaN,NaN,NaN,NaN,NaN
75%,20021.500000,NaN,NaN,NaN,18.000000,NaN,8.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.969325,1.000000,NaN,NaN,NaN,NaN,NaN
max,26761.000000,NaN,NaN,NaN,25.000000,NaN,10.000000,NaN,NaN,NaN,...,1.000000,1.000000,1.00000,1.000000,8.000000,NaN,NaN,NaN,NaN,NaN

What i find interesting here is the most subjects are **males**, **black**, and between **age 23-27** and also not with a **high education**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 53 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    25835 non-null  int64
 1   gender                                25835 non-null  object
 2   race                                  25835 non-null  object
 3   age                                   25835 non-null  object
 4   address                               25835 non-null  int64
 5   gang_affiliated                       22668 non-null  object
 6   risk_score                            25360 non-null  float64
 7   supervision_level                     24115 non-null  object
 8   education_level                       25835 non-null  object
 9   dependents                            25835 non-null  object
 10  offence                               22558 non-null  object
 11  years_in_prison                       25835 non-null  object
 12  felony_arrests                        25835 non-null  object
 13  misdemeanor_arrests                   25835 non-null  object
 14  violence_arrests                      25835 non-null  object
 15  property_arrests                      25835 non-null  object
 16  drug_arrests                          25835 non-null  object
 17  parole_violation_arrests              25835 non-null  object
 18  domestic_violence_arrests             25835 non-null  bool
 19  gun_arrests                           25835 non-null  bool
 20  felony_convictions                    25835 non-null  object
 21  misdemeanor_convictions               25835 non-null  object
 22  violence_convictions                  25835 non-null  bool
 23  property_convictions                  25835 non-null  object
 24  drug_convictions                      25835 non-null  object
 25  parole_violation_convictions          25835 non-null  bool
 26  domestic_violence_convictions         25835 non-null  bool
 27  gun_convictions                       25835 non-null  bool
 28  parole_revocations                    25835 non-null  bool
 29  probation_revocations                 25835 non-null  bool
 30  mh_sa_programme                       25835 non-null  bool
 31  cs_programme                          25835 non-null  bool
 32  other_condition                       25835 non-null  bool
 33  electronic_monitoring_violations      25835 non-null  bool
 34  instruction_following_violations      25835 non-null  bool
 35  failure_to_report_violations          25835 non-null  bool
 36  moving_without_permission_violations  25835 non-null  bool
 37  num_delinquency_reports               25835 non-null  object
 38  num_program_attendances               25835 non-null  object
 39  num_unexcused_absences                25835 non-null  object
 40  num_residence_changes                 25835 non-null  object
 41  days_between_drug_tests               19732 non-null  float64
 42  marijuana_positive_tests              20663 non-null  float64
 43  cocaine_positive_tests                20663 non-null  float64
 44  meth_positive_tests                   20663 non-null  float64
 45  other_positive_tests                  20663 non-null  float64
 46  days_employed                         25373 non-null  float64
 47  jobs_per_year                         25027 non-null  float64
 48  employment_exempt                     25835 non-null  bool
 49  reoffended_within_3_years             25835 non-null  bool
 50  reoffended_in_year_1                  25835 non-null  bool
 51  reoffended_in_year_2                  25835 non-null  bool
 52  reoffended_in_year_3                  25835 non-null  bool
dtypes: bool(20), float64(8), int64(2), object(23)
memory usage: 7.0+ MB

There are a lot of features, but also a lot of which I would like to get a clue what are they made from so I will continue with that.

In [6]:
print("gang_affiliated = ", df["gang_affiliated"].unique())
print("supervision_level = " , df["supervision_level"].unique())
print("education_level = ",df["education_level"].unique())
print("dependents = ", df["dependents"].unique())
print("offence = ", df["offence"].unique())
print("years_in_prison = ", df["years_in_prison"].unique())
print("felony_arrests = ", df["felony_arrests"].unique())
print("violence_arrests = ", df["violence_arrests"].unique())
print("property_arrests = ", df["property_arrests"].unique())
print("drug_arrests = ", df["drug_arrests"].unique())
print("parole_violation_arrests = ", df["parole_violation_arrests"].unique())
print("domestic_violence_arrests = ", df["domestic_violence_arrests"].unique())
print("gun_arrests = ", df["gun_arrests"].unique())
print("felony_convictions = ", df["felony_convictions"].unique())
print("misdemeanor_convictions  = ", df["misdemeanor_convictions"].unique())
print("property_convictions = ", df["property_convictions"].unique())
print("parole_revocations = ", df["parole_revocations"].unique())
print("probation_revocations = ", df["probation_revocations"].unique())
print("other_condition = ", df["other_condition"].unique())
print("num_delinquency_reports = ", df["num_delinquency_reports"].unique())
print("reoffended_in_year_3 = ", df["reoffended_in_year_3"].unique())

gang_affiliated =  [nan False True]
supervision_level =  ['High' 'Standard' 'Specialized' nan]
education_level =  ['At least some college' 'High School Diploma' 'Less than HS diploma']
dependents =  ['3 or more' '0' '2' '1']
offence =  ['Property' 'Violent/Non-Sex' nan 'Other' 'Drug' 'Violent/Sex']
years_in_prison =  ['Less than 1 year' '1-2 years' 'More than 3 years'
 'Greater than 2 to 3 years']
felony_arrests =  ['3' '5' '2' '4' '6' '10 or more' '9' '0' '7' '1' '8']
violence_arrests =  ['0' '3 or more' '2' '1']
property_arrests =  ['2' '5 or more' '1' '4' '3' '0']
drug_arrests =  ['1' '0' '3' '4' '2' '5 or more']
parole_violation_arrests =  ['2' '4' '5 or more' '0' '3' '1']
domestic_violence_arrests =  [False  True]
gun_arrests =  [False  True]
felony_convictions =  ['1' '2' '0' '3 or more']
misdemeanor_convictions  =  ['1' '4 or more' '0' '3' '2']
property_convictions =  ['1' '3 or more' '0' '2']
parole_revocations =  [False  True]
probation_revocations =  [False  True]
other_condition =  [ True False]
num_delinquency_reports =  ['0' '4 or more' '3' '1' '2']
reoffended_in_year_3 =  [False  True]

So far I have drawn some conclusions about the next:

* **felony_arrests** -> we have a wide variety and I would like afterwards to see how felony_arrests plots with reoffences that happened in 3 years
* **other_condition** -> other, including no electronic monitoring, enrolment on a sex offender programme or no victim contact
* **days_employed** and **jobs_per_year** -> might be good indicators towards reoffending or not

There are also a lot of features like arrest, convictions, violations, drug tests that I think will be in close relationship with the probability of reoffending or not
Also, as seen above there are feature with nan values so I need to see what I do with them, if I leave them, change them or drop them.

In [7]:
#Because we are only asked to predict reoffending within three years I will drop the other columns I am not interested in
df = df.drop(labels=["id", "reoffended_in_year_1", "reoffended_in_year_2", "reoffended_in_year_3"],axis=1)

In [8]:
df.shape

(25835, 49)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 49 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   gender                                25835 non-null  object
 1   race                                  25835 non-null  object
 2   age                                   25835 non-null  object
 3   address                               25835 non-null  int64
 4   gang_affiliated                       22668 non-null  object
 5   risk_score                            25360 non-null  float64
 6   supervision_level                     24115 non-null  object
 7   education_level                       25835 non-null  object
 8   dependents                            25835 non-null  object
 9   offence                               22558 non-null  object
 10  years_in_prison                       25835 non-null  object
 11  felony_arrests                        25835 non-null  object
 12  misdemeanor_arrests                   25835 non-null  object
 13  violence_arrests                      25835 non-null  object
 14  property_arrests                      25835 non-null  object
 15  drug_arrests                          25835 non-null  object
 16  parole_violation_arrests              25835 non-null  object
 17  domestic_violence_arrests             25835 non-null  bool
 18  gun_arrests                           25835 non-null  bool
 19  felony_convictions                    25835 non-null  object
 20  misdemeanor_convictions               25835 non-null  object
 21  violence_convictions                  25835 non-null  bool
 22  property_convictions                  25835 non-null  object
 23  drug_convictions                      25835 non-null  object
 24  parole_violation_convictions          25835 non-null  bool
 25  domestic_violence_convictions         25835 non-null  bool
 26  gun_convictions                       25835 non-null  bool
 27  parole_revocations                    25835 non-null  bool
 28  probation_revocations                 25835 non-null  bool
 29  mh_sa_programme                       25835 non-null  bool
 30  cs_programme                          25835 non-null  bool
 31  other_condition                       25835 non-null  bool
 32  electronic_monitoring_violations      25835 non-null  bool
 33  instruction_following_violations      25835 non-null  bool
 34  failure_to_report_violations          25835 non-null  bool
 35  moving_without_permission_violations  25835 non-null  bool
 36  num_delinquency_reports               25835 non-null  object
 37  num_program_attendances               25835 non-null  object
 38  num_unexcused_absences                25835 non-null  object
 39  num_residence_changes                 25835 non-null  object
 40  days_between_drug_tests               19732 non-null  float64
 41  marijuana_positive_tests              20663 non-null  float64
 42  cocaine_positive_tests                20663 non-null  float64
 43  meth_positive_tests                   20663 non-null  float64
 44  other_positive_tests                  20663 non-null  float64
 45  days_employed                         25373 non-null  float64
 46  jobs_per_year                         25027 non-null  float64
 47  employment_exempt                     25835 non-null  bool
 48  reoffended_within_3_years             25835 non-null  bool
dtypes: bool(17), float64(8), int64(1), object(23)
memory usage: 6.7+ MB

In [10]:
#Now I want to separate the featuers so it will be easier to manipulate them 
numeric_features = ["address", "risk_score", "days_between_drug_tests", "marijuana_positive_tests", "cocaine_positive_tests",
                   "meth_positive_tests", "other_positive_tests", "days_employed", "jobs_per_year"]
nominal_features = ["gender", "race", "age", "gang_affiliated", "supervision_level", "education_level", "dependents", "offence",
                   "years_in_prison", "felony_arrests", "misdemeanor_arrests", "violence_arrests", "property_arrests", "drug_arrests",
                   "parole_violation_arrests", "felony_convictions", "misdemeanor_convictions", "property_convictions", "drug_convictions",
                   "num_delinquency_reports", "num_program_attendances", "num_unexcused_absences", "num_residence_changes"]
boolean_features = ["domestic_violence_arrests", "gun_arrests", "violence_convictions", "parole_violation_convictions", "domestic_violence_convictions",
                   "gun_convictions", "parole_revocations", "probation_revocations", "mh_sa_programme", "cs_programme", "other_condition",
                   "electronic_monitoring_violations", "instruction_following_violations", "failure_to_report_violations", "moving_without_permission_violations",
                   "employment_exempt"] #reoffended_within_3_years this is our y so I won't add it here
print(len(numeric_features), len(nominal_features), len(boolean_features)) #just to check I didn't miss anythign

9 23 16

#### Before I start to visualize data I should look at values like NaN and decide what to do with them, also I should look like values that don't seem right

In [11]:
#First for numeric features
df[numeric_features].describe(include="all")

,address,risk_score,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year
count,25835.000000,25360.000000,19732.000000,20663.000000,20663.000000,20663.000000,20663.00000,25373.000000,25027.000000
mean,12.361796,6.082216,93.890044,0.063350,0.013741,0.012890,0.00755,0.482331,0.769295
std,7.133742,2.381442,117.169847,0.138453,0.061233,0.060581,0.04115,0.425004,0.813787
min,1.000000,1.000000,0.500000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,6.000000,4.000000,28.837366,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,12.000000,6.000000,55.424812,0.000000,0.000000,0.000000,0.00000,0.475728,0.635217
75%,18.000000,8.000000,110.333333,0.071429,0.000000,0.000000,0.00000,0.969325,1.000000
max,25.000000,10.000000,1088.500000,1.000000,1.000000,1.000000,1.00000,1.000000,8.000000

In [12]:
df[df["days_between_drug_tests"] > 1088].describe() #This looks okay since no results came back positive from the drug tests

,address,risk_score,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000
mean,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
25%,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
50%,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
75%,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554
max,8.0,5.0,1088.5,0.0,0.0,0.0,0.0,0.729444,0.335554

Except for that, which turned out to not be noise, nothing seems out of the ordinary at numeric_features, now I need to look at missing values.

In [13]:
df[numeric_features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   address                   25835 non-null  int64
 1   risk_score                25360 non-null  float64
 2   days_between_drug_tests   19732 non-null  float64
 3   marijuana_positive_tests  20663 non-null  float64
 4   cocaine_positive_tests    20663 non-null  float64
 5   meth_positive_tests       20663 non-null  float64
 6   other_positive_tests      20663 non-null  float64
 7   days_employed             25373 non-null  float64
 8   jobs_per_year             25027 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.8 MB

In [14]:
df[df["risk_score"].isnull()]

,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,offence,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
26,F,black,18-22,8,NaN,NaN,NaN,Less than HS diploma,1,Property,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,False
83,M,black,28-32,19,False,NaN,NaN,Less than HS diploma,1,Property,...,0,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,False,False
98,F,black,28-32,6,NaN,NaN,Standard,High School Diploma,0,Other,...,0,NaN,0.090909,0.0,0.0,0.0,0.000000,0.000000,False,False
120,M,white,33-37,1,False,NaN,NaN,Less than HS diploma,0,Property,...,3 or more,96.333333,0.000000,0.0,0.0,0.0,1.000000,3.000000,False,False
269,M,white,33-37,24,False,NaN,NaN,High School Diploma,0,Drug,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25565,M,black,28-32,19,True,NaN,Specialized,High School Diploma,3 or more,Violent/Sex,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,True
25632,M,white,18-22,8,False,NaN,NaN,Less than HS diploma,0,Property,...,0,37.800000,0.000000,0.0,0.0,0.0,0.142857,0.966270,False,True
25663,F,black,48 or older,12,NaN,NaN,Standard,High School Diploma,2,Drug,...,0,56.666667,0.000000,0.0,0.0,0.0,0.000000,0.000000,True,False
25692,M,white,48 or older,5,False,NaN,NaN,High School Diploma,1,Property,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,True
25813,M,white,33-37,5,False,NaN,NaN,High School Diploma,0,Property,...,0,99.250000,0.250000,0.0,0.0,0.0,0.030227,0.920025,False,True

In [15]:
x = df[df["days_between_drug_tests"].isnull()]
df[df["days_between_drug_tests"].isnull()].head()

,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,offence,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
0,F,white,28-32,17,NaN,8.0,High,At least some college,3 or more,Property,...,0,NaN,NaN,NaN,NaN,NaN,0.791123,0.953655,False,False
9,M,black,28-32,7,False,7.0,High,Less than HS diploma,2,Other,...,3 or more,NaN,NaN,NaN,NaN,NaN,1.000000,2.294284,False,False
14,M,white,38-42,17,False,2.0,Standard,Less than HS diploma,2,Other,...,0,NaN,NaN,NaN,NaN,NaN,0.228145,0.778785,False,True
17,M,white,33-37,4,True,8.0,High,At least some college,3 or more,Property,...,1,NaN,NaN,NaN,NaN,NaN,0.835132,0.716879,False,True
26,F,black,18-22,8,NaN,NaN,NaN,Less than HS diploma,1,Property,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,False

I was first looking at the inmates that don't have a risk score but after some searching on the inernet I have found out that inmates are not always associated risk scores, this could explain the missing values. However, what caught my attention was inmates that had NaN at "days_between_drug_tests". I looked it up again and apparently it is also not necessarily to get drug tested.

In [16]:
x[x["offence"] == "Drug"]

,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,offence,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
41,F,black,48 or older,10,NaN,3.0,Standard,High School Diploma,2,Drug,...,3 or more,NaN,0.008547,0.034188,0.008547,0.008547,NaN,NaN,True,False
66,M,black,38-42,8,False,4.0,Standard,High School Diploma,3 or more,Drug,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,True,True
73,M,black,48 or older,20,False,3.0,NaN,At least some college,3 or more,Drug,...,0,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,False,False
118,M,black,33-37,25,False,7.0,High,High School Diploma,2,Drug,...,0,NaN,NaN,NaN,NaN,NaN,0.098720,0.667733,False,True
139,M,white,48 or older,3,False,8.0,High,High School Diploma,2,Drug,...,0,NaN,NaN,NaN,NaN,NaN,0.284848,1.000000,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25782,F,white,48 or older,8,NaN,4.0,Standard,At least some college,3 or more,Drug,...,0,NaN,NaN,NaN,NaN,NaN,0.998807,0.435859,True,False
25784,M,white,48 or older,13,False,5.0,NaN,At least some college,3 or more,Drug,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,False,False
25790,M,black,28-32,20,True,6.0,High,Less than HS diploma,3 or more,Drug,...,0,NaN,NaN,NaN,NaN,NaN,1.000000,0.758567,False,False
25808,M,black,38-42,22,True,5.0,Standard,High School Diploma,3 or more,Drug,...,1,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,False,True
25824,M,black,33-37,14,False,9.0,Specialized,Less than HS diploma,2,Drug,...,2,NaN,0.333333,0.000000,0.000000,0.000000,NaN,NaN,False,False

In [17]:
x.describe(include="all")

,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,offence,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
count,6103,6103,6103,6103.000000,5367,5882.000000,5470,6103,6103,5333,...,6103,0.0,931.000000,931.000000,931.000000,931.000000,5641.000000,5295.000000,6103,6103
unique,2,2,7,NaN,2,NaN,3,3,4,5,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
top,M,black,28-32,NaN,False,NaN,Standard,High School Diploma,3 or more,Property,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True
freq,5367,3553,1136,NaN,4456,NaN,2736,2613,1901,2118,...,3424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5341,3523
mean,NaN,NaN,NaN,12.302474,NaN,5.612377,NaN,NaN,NaN,NaN,...,NaN,NaN,0.040543,0.006799,0.008870,0.003783,0.337002,0.600346,NaN,NaN
std,NaN,NaN,NaN,7.070113,NaN,2.292808,NaN,NaN,NaN,NaN,...,NaN,NaN,0.134651,0.042350,0.068504,0.022517,0.422280,0.757955,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,7.000000,NaN,4.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,12.000000,NaN,6.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.278392,NaN,NaN
75%,NaN,NaN,NaN,18.000000,NaN,7.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,0.016808,0.000000,0.000000,0.000000,0.836383,1.000000,NaN,NaN
max,NaN,NaN,NaN,25.000000,NaN,10.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,1.000000,1.000000,0.500000,1.000000,5.000000,NaN,NaN

#### Conclusions drawn so far

I observed that there are inmates whose values for days between drug tests are NaN and also the drug positive test ratios are NaN this makes me believe that this inmates were not required by law to take drug tests, therefore I have made the decision to change these values all to 0. However, there are also inmates who seem to have been tested for drug tests because they had taken tests which came back positive, but there is no value for the "days_between_drug_tests" which makes no sense. Here I have decided to replace their values by the mean of the other "days_between_tests".

In [18]:
#to make an idea of the ratio between these types where is null-null and null-notNull
print(x[ x["days_between_drug_tests"].isnull() & x["marijuana_positive_tests"].notnull() ].shape)
print(x[ x["days_between_drug_tests"].isnull() & x["marijuana_positive_tests"].isnull() ].shape)
print(x.shape)

(931, 49)
(5172, 49)
(6103, 49)

In [19]:
imp_constant = SimpleImputer(strategy='constant', fill_value=0)
imp_mean = SimpleImputer(missing_values = np.nan, strategy='mean')

In [20]:
#I make a copy in case i screw up something
copy_df = df.copy()

#First i want to change only the columns where the 2 values are both null and replace them with constants
drug_tests = ["days_between_drug_tests", "marijuana_positive_tests", "cocaine_positive_tests", "meth_positive_tests", "other_positive_tests"]
copy2_df = copy_df[drug_tests] 
condition = copy2_df["days_between_drug_tests"].isnull() & copy2_df["marijuana_positive_tests"].isnull() & copy2_df["cocaine_positive_tests"].isnull() & copy2_df["meth_positive_tests"].isnull() & copy2_df["other_positive_tests"].isnull() 
copy2_df.loc[condition] = imp_constant.fit_transform(copy2_df[condition])

#Now I place the changes in my copy
copy_df[drug_tests] = copy2_df

#Second let's change those values where there is no record for "days_between_drug_tests" but from the ratio of positive tests we can deduce that tests were made
drug_tests = ["days_between_drug_tests"]
copy2_df = copy_df[drug_tests] 
copy2_df = imp_mean.fit_transform(copy2_df)

#Now I place the changes in my copy
copy_df[drug_tests] = copy2_df

#Place in the main df the changes I have made
df = copy_df.copy()

C:\Users\raula\AppData\Local\Temp\ipykernel_39372\508898414.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy2_df.loc[condition] = imp_constant.fit_transform(copy2_df[condition])

Now that I have dealt with those features I still have some features that have NaN values and I need to impute them: risk_score, days_employed and jobs_per_year.

* **risk_score**: As I said above there are cases where no risk_score is given to an inmate, so after I do a second check and I look at the distribution of felonies and more, I will decide if i will replace all NaN with 1 (since risk_score is from 1 to 10, I think giving the 0 is not appropiate)
* **days_employed** and **jobs_per_year**: Here I think it is the best to replace the NaN by the mean of the others

In [21]:
#This is to see the distribution of fellonies and more where risk_score is null
copy2_df = df[df["risk_score"].isnull()]

for ft in nominal_features:
    unique_ft = copy2_df[ft].unique()
    unique_dictionary = {}
    for ft2 in unique_ft:
        unique_dictionary[ft2] = 0
        for i in copy2_df[ft]:
            if i == ft2:
                unique_dictionary[ft2] += 1

    print(ft, unique_dictionary)

gender {'F': 63, 'M': 412}
race {'black': 280, 'white': 195}
age {'18-22': 30, '28-32': 100, '33-37': 67, '23-27': 84, '38-42': 65, '48 or older': 92, '43-47': 37}
gang_affiliated {nan: 0, False: 338, True: 74}
supervision_level {nan: 0, 'Standard': 66, 'High': 38, 'Specialized': 56}
education_level {'Less than HS diploma': 165, 'High School Diploma': 214, 'At least some college': 96}
dependents {'1': 103, '0': 151, '2': 97, '3 or more': 124}
offence {'Property': 195, 'Other': 60, 'Drug': 71, 'Violent/Non-Sex': 89, nan: 0, 'Violent/Sex': 13}
years_in_prison {'1-2 years': 135, 'Less than 1 year': 216, 'Greater than 2 to 3 years': 68, 'More than 3 years': 56}
felony_arrests {'3': 40, '5': 44, '1': 27, '7': 33, '6': 47, '10 or more': 154, '2': 37, '4': 42, '8': 27, '9': 22, '0': 2}
misdemeanor_arrests {'2': 55, '5': 38, '4': 57, '3': 51, '6 or more': 165, '0': 58, '1': 51}
violence_arrests {'0': 198, '1': 128, '3 or more': 76, '2': 73}
property_arrests {'4': 37, '1': 86, '2': 59, '0': 76, '5 or more': 162, '3': 55}
drug_arrests {'0': 159, '3': 55, '1': 108, '2': 77, '5 or more': 48, '4': 28}
parole_violation_arrests {'1': 67, '2': 78, '0': 90, '3': 51, '5 or more': 147, '4': 42}
felony_convictions {'2': 79, '0': 114, '1': 122, '3 or more': 160}
misdemeanor_convictions {'2': 80, '1': 108, '4 or more': 117, '0': 114, '3': 56}
property_convictions {'3 or more': 144, '0': 149, '1': 112, '2': 70}
drug_convictions {'0': 242, '1': 122, '2 or more': 111}
num_delinquency_reports {'0': 372, '4 or more': 35, '1': 25, '3': 28, '2': 15}
num_program_attendances {'0': 370, '8': 4, '2': 13, '6': 27, '9': 4, '1': 11, '7': 12, '5': 8, '3': 2, '10 or more': 15, '4': 9}
num_unexcused_absences {'0': 428, '1': 15, '3 or more': 18, '2': 14}
num_residence_changes {'0': 283, '3 or more': 21, '2': 39, '1': 132}

From what I can see there are certain characteristics for inmates that would not resemble a high risk criminal (not so much time spent in prison, younger persons, more arrests than convictions), but still there are also inmates who might oppose a greater risk, for example persons with "3 or more" felony convictions.

What I have decided is to replace the NaN values of risk_score with the most frequent score, but take in consideration only the ones whose score isnt higher than 4.

With days_employed and jobs_per_year I will compute the mean.

In [22]:
#create a copy of df
copy_df = df.copy()

"""
unique_ft = copy_df["risk_score"].unique()
unique_dictionary = {}

print(copy_df["risk_score"].values)

for ft2 in unique_ft:
    print(ft2)
    unique_dictionary[ft2] = 0
    for i in copy_df["risk_score"].values:
        if i == ft2:
            unique_dictionary[ft2] += 1

print(ft, unique_dictionary)
"""
#I had trouble with the imputer(strategy="most_frequent") so I found the most_frequent value which is 4 and I am going to use imputer(strategy="constant")

#create the imputers
imp_constant = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=4.0)
#I still have the imputer for the mean from last time

#change the NaN values with 4.0
copy2_df = copy_df[["risk_score"]].copy()
copy2_df = imp_constant.fit_transform(copy2_df)

copy_df[["risk_score"]] = copy2_df

#I'll impute the values with the mean for days_employed and jobs_per_year
copy_df[numeric_features] = imp_mean.fit_transform(copy_df[numeric_features])

df = copy_df.copy()

##### Now that I have replaced the NaN values for the numeric_features is time to move to the nominal_features and boolean_features

In [23]:
df[nominal_features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    25835 non-null  object
 1   race                      25835 non-null  object
 2   age                       25835 non-null  object
 3   gang_affiliated           22668 non-null  object
 4   supervision_level         24115 non-null  object
 5   education_level           25835 non-null  object
 6   dependents                25835 non-null  object
 7   offence                   22558 non-null  object
 8   years_in_prison           25835 non-null  object
 9   felony_arrests            25835 non-null  object
 10  misdemeanor_arrests       25835 non-null  object
 11  violence_arrests          25835 non-null  object
 12  property_arrests          25835 non-null  object
 13  drug_arrests              25835 non-null  object
 14  parole_violation_arrests  25835 non-null  object
 15  felony_convictions        25835 non-null  object
 16  misdemeanor_convictions   25835 non-null  object
 17  property_convictions      25835 non-null  object
 18  drug_convictions          25835 non-null  object
 19  num_delinquency_reports   25835 non-null  object
 20  num_program_attendances   25835 non-null  object
 21  num_unexcused_absences    25835 non-null  object
 22  num_residence_changes     25835 non-null  object
dtypes: object(23)
memory usage: 4.5+ MB

In [24]:
df[boolean_features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25835 entries, 0 to 25834
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   domestic_violence_arrests             25835 non-null  bool
 1   gun_arrests                           25835 non-null  bool
 2   violence_convictions                  25835 non-null  bool
 3   parole_violation_convictions          25835 non-null  bool
 4   domestic_violence_convictions         25835 non-null  bool
 5   gun_convictions                       25835 non-null  bool
 6   parole_revocations                    25835 non-null  bool
 7   probation_revocations                 25835 non-null  bool
 8   mh_sa_programme                       25835 non-null  bool
 9   cs_programme                          25835 non-null  bool
 10  other_condition                       25835 non-null  bool
 11  electronic_monitoring_violations      25835 non-null  bool
 12  instruction_following_violations      25835 non-null  bool
 13  failure_to_report_violations          25835 non-null  bool
 14  moving_without_permission_violations  25835 non-null  bool
 15  employment_exempt                     25835 non-null  bool
dtypes: bool(16)
memory usage: 403.8 KB

#### The following nominal features have NaN values
* **gang_affiliated**
* **supervision_level**
* **offence**

In [25]:
print(df[df["gang_affiliated"].isnull()].shape)
copy_df = df[df["gang_affiliated"].isnull()]

(3167, 49)

In [26]:
copy_df[copy_df["gender"] == "F"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 3167 entries, 0 to 25828
Data columns (total 49 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   gender                                3167 non-null   object
 1   race                                  3167 non-null   object
 2   age                                   3167 non-null   object
 3   address                               3167 non-null   float64
 4   gang_affiliated                       0 non-null      object
 5   risk_score                            3167 non-null   float64
 6   supervision_level                     2961 non-null   object
 7   education_level                       3167 non-null   object
 8   dependents                            3167 non-null   object
 9   offence                               2824 non-null   object
 10  years_in_prison                       3167 non-null   object
 11  felony_arrests                        3167 non-null   object
 12  misdemeanor_arrests                   3167 non-null   object
 13  violence_arrests                      3167 non-null   object
 14  property_arrests                      3167 non-null   object
 15  drug_arrests                          3167 non-null   object
 16  parole_violation_arrests              3167 non-null   object
 17  domestic_violence_arrests             3167 non-null   bool
 18  gun_arrests                           3167 non-null   bool
 19  felony_convictions                    3167 non-null   object
 20  misdemeanor_convictions               3167 non-null   object
 21  violence_convictions                  3167 non-null   bool
 22  property_convictions                  3167 non-null   object
 23  drug_convictions                      3167 non-null   object
 24  parole_violation_convictions          3167 non-null   bool
 25  domestic_violence_convictions         3167 non-null   bool
 26  gun_convictions                       3167 non-null   bool
 27  parole_revocations                    3167 non-null   bool
 28  probation_revocations                 3167 non-null   bool
 29  mh_sa_programme                       3167 non-null   bool
 30  cs_programme                          3167 non-null   bool
 31  other_condition                       3167 non-null   bool
 32  electronic_monitoring_violations      3167 non-null   bool
 33  instruction_following_violations      3167 non-null   bool
 34  failure_to_report_violations          3167 non-null   bool
 35  moving_without_permission_violations  3167 non-null   bool
 36  num_delinquency_reports               3167 non-null   object
 37  num_program_attendances               3167 non-null   object
 38  num_unexcused_absences                3167 non-null   object
 39  num_residence_changes                 3167 non-null   object
 40  days_between_drug_tests               3167 non-null   float64
 41  marijuana_positive_tests              3167 non-null   float64
 42  cocaine_positive_tests                3167 non-null   float64
 43  meth_positive_tests                   3167 non-null   float64
 44  other_positive_tests                  3167 non-null   float64
 45  days_employed                         3167 non-null   float64
 46  jobs_per_year                         3167 non-null   float64
 47  employment_exempt                     3167 non-null   bool
 48  reoffended_within_3_years             3167 non-null   bool
dtypes: bool(17), float64(9), object(23)
memory usage: 869.1+ KB

#### All NaN from "gang_affiliated" column are females
I found out that all the inmates who don't have a value for the column "gang_affiliated" are females so I think it would be best to replace the NaN
with the most_frequent value found in the column, but take into consideration only the inmates which are females.

In [27]:
print(df[df["supervision_level"].isnull()].shape)
df[df["supervision_level"].isnull()]

(1720, 49)

,gender,race,age,address,gang_affiliated,risk_score,supervision_level,education_level,dependents,offence,...,num_residence_changes,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year,employment_exempt,reoffended_within_3_years
21,F,black,48 or older,14.0,NaN,1.0,NaN,Less than HS diploma,0,Drug,...,0,150.333333,0.00,0.0,0.0,0.0,0.995565,0.809867,True,False
26,F,black,18-22,8.0,NaN,4.0,NaN,Less than HS diploma,1,Property,...,0,0.000000,0.00,0.0,0.0,0.0,0.000000,0.000000,False,False
33,M,black,48 or older,20.0,False,5.0,NaN,At least some college,2,Drug,...,1,18.600000,0.00,0.0,0.0,0.0,0.000000,0.000000,False,False
46,M,black,28-32,20.0,False,4.0,NaN,Less than HS diploma,3 or more,NaN,...,1,136.250000,0.25,0.0,0.0,0.0,1.000000,1.340367,False,False
73,M,black,48 or older,20.0,False,3.0,NaN,At least some college,3 or more,Drug,...,0,0.000000,0.00,0.0,0.0,0.0,1.000000,2.000000,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,F,black,48 or older,17.0,NaN,3.0,NaN,At least some college,2,NaN,...,0,31.900000,0.00,0.0,0.0,0.0,1.000000,2.000000,False,True
25784,M,white,48 or older,13.0,False,5.0,NaN,At least some college,3 or more,Drug,...,0,0.000000,0.00,0.0,0.0,0.0,0.000000,0.000000,False,False
25807,M,black,48 or older,4.0,False,3.0,NaN,High School Diploma,0,Property,...,1,86.800000,0.00,0.2,0.0,0.0,1.000000,1.683180,False,True
25811,M,white,33-37,19.0,False,4.0,NaN,Less than HS diploma,1,Drug,...,0,46.777778,0.00,0.0,0.0,0.0,0.567696,0.867577,False,True
25813,M,white,33-37,5.0,False,4.0,NaN,High School Diploma,0,Property,...,0,99.250000,0.25,0.0,0.0,0.0,0.030227,0.920025,False,True

In [28]:
copy_df = df[df["supervision_level"].isnull()]

In [29]:
copy_df[copy_df["gender"] == "F"].shape #just curious if this applies to "supervision_level" as well, but it is not the case

(206, 49)

In [30]:
copy_df.shape

(1720, 49)

Quite a few of missing values here, I think the best approach will be to replace these values with the most frequent one

In [31]:
#Now I will also take a look at the missing values for offence feature
copy_df = df[df["offence"].isnull()]
#I need to look at the features on categories because if I look at all the features at once not all will be shown because of the limited space of the display
copy_df[numeric_features]

,address,risk_score,days_between_drug_tests,marijuana_positive_tests,cocaine_positive_tests,meth_positive_tests,other_positive_tests,days_employed,jobs_per_year
3,19.0,7.0,17.260870,0.000000,0.0,0.0,0.0,0.473552,0.920025
13,25.0,6.0,264.500000,0.000000,0.0,0.0,0.0,1.000000,2.761815
40,2.0,9.0,22.680000,0.160000,0.0,0.0,0.0,0.957672,0.644180
46,20.0,4.0,136.250000,0.250000,0.0,0.0,0.0,1.000000,1.340367
50,8.0,10.0,58.500000,0.500000,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
25793,7.0,5.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000
25796,10.0,9.0,39.857143,0.142857,0.0,0.0,0.0,1.000000,2.000000
25819,25.0,4.0,255.000000,0.000000,0.0,0.0,0.0,1.000000,1.432353
25820,25.0,7.0,0.000000,0.000000,0.0,0.0,0.0,0.029551,0.431738
25821,5.0,2.0,71.750000,0.000000,0.0,0.0,0.0,0.000000,0.000000

In [32]:
copy_df[nominal_features]

,gender,race,age,gang_affiliated,supervision_level,education_level,dependents,offence,years_in_prison,felony_arrests,...,drug_arrests,parole_violation_arrests,felony_convictions,misdemeanor_convictions,property_convictions,drug_convictions,num_delinquency_reports,num_program_attendances,num_unexcused_absences,num_residence_changes
3,M,black,18-22,False,High,Less than HS diploma,0,NaN,1-2 years,2,...,0,0,0,1,0,0,0,0,0,0
13,M,white,23-27,False,High,At least some college,0,NaN,Less than 1 year,2,...,2,2,1,3,3 or more,1,0,1,0,1
40,M,black,33-37,False,Specialized,Less than HS diploma,3 or more,NaN,1-2 years,10 or more,...,5 or more,5 or more,1,4 or more,0,2 or more,0,10 or more,1,0
46,M,black,28-32,False,NaN,Less than HS diploma,3 or more,NaN,Less than 1 year,3,...,3,1,0,1,0,2 or more,0,5,0,1
50,M,black,18-22,False,Specialized,Less than HS diploma,2,NaN,1-2 years,4,...,3,1,2,0,0,2 or more,0,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25793,M,black,48 or older,False,Standard,At least some college,3 or more,NaN,More than 3 years,1,...,0,0,1,0,0,0,0,0,0,0
25796,M,black,23-27,False,Specialized,At least some college,0,NaN,Less than 1 year,3,...,3,1,1,2,0,2 or more,0,6,1,1
25819,M,white,33-37,False,Standard,Less than HS diploma,1,NaN,Less than 1 year,6,...,4,0,1,1,1,1,0,2,0,0
25820,M,black,28-32,False,High,High School Diploma,3 or more,NaN,Greater than 2 to 3 years,8,...,3,5 or more,3 or more,1,1,2 or more,0,0,0,0
25821,F,black,48 or older,NaN,Standard,Less than HS diploma,3 or more,NaN,Less than 1 year,2,...,1,0,2,1,2,0,0,0,0,0

In [33]:
# cdf = copy_df[nominal_features].copy()
# categories = cdf["gang_affiliated"].unique()
# dict = {}

# for i in categories:
 #   dict[i] = 0
    
#for j in cdf["gang_affiliated"]:
 #   dict[j] += 1

#print(dict)

#I saw a lot of False values in gang_affiliated and I was curios if the offence is missing just for the inmates that were not part of a gang

The `offence` features may be one of the most important feeatures in our dataset, but I don't see any other way than to replace the NaN values with the most_frequent value in that column.

**Observation !!!** After trying to impute the values of the column "gang_affiliated" I found out that `ALL females from the dataset have a missing value for "gang_affiliated"` so my plan won't work because I don't have any remaing females inmates from who to choose the most_frequent value. Also there are records, on the internet, of gang affiliation throughout female inmates so I cannot replace the value with False. Therefore I will impute all the NaN from the dataset with the most frequent category.

In [34]:
#Now that I have decided what I am going to do with the features that have NaN values I will start using the imputers 

#copy the data set, also just the nominal features because otherwise it will transform my other numeric and boolean features into strings aswell
copy_df = df[nominal_features].copy()

#create the imputer
imp_most_frequent = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

#gang_affiliated
copy_df = imp_most_frequent.fit_transform(copy_df)

#get the values back in the original dataset
df[nominal_features] = copy_df

### Data cleaning summary 

`(This part can be skipped as it is the same information as described above but I thought it would be nice to have a summary with all the changes I have made)`

Firstly I decided to drop some columns, which from my point of view should not influence the model in any way: `id` (the id of the inmates should not matter in deciding if they will reoffend or not), `reoffended_in_year_1, reoffended_in_year_2, reoffended_in_year_3` (we are interested in the inmates that reoffend within 3 years, therefore no point in keeping these values)

I started by splitting the features into 3 categories: numerical, nominal and boolean. I did this because I thought for a dataset of this size it would be better to handle each feature that needs imputing, separately.

#### Numeric features

* `risk_score`: The NaN were imputed with the most_frequent value of risk_scores between 1 and 4      * `
days_between_drug_test`: I decided to replace the NaN values with the mean if there were positive tests (ratio > 0) for the same inmate, if for an inmate there was no record of any positive tests and the days that have passed since the last drug test I decided to replace all of them with the constant 0 since there may be inmates who are not required by law to take drug tests.
* `marijuana_positive_tests, cocaine_positive_tests,meth_positive_tests, other_positive_tests` : All NaN were replaced with the constant 0.



* `jobs_per_year, days_employed`: All NaN were imputed by the mean of the other values

#### Nominal features

* `gang_affiliated, 
supervision_leve, offence`: NaN values where imputed with the most frequent values, altough for **offence** I don't know if that is the best idea because it is the "primary offence that resulted in incarceration" but later I will do an experiment and see if I should drop it or not.

#### Boolean features 

Here nothing was missing so I did not do anything, besides replacing the boolean values with their numerical equivalents, True = 1, False = 0.e

## Data splitting and data visualitzation

Before splitting the data I would like to take a look at the dataset and the distribution of the "reoffended_within_3_years" and also the fact that there are aprox 3000 females out of 25000 so I would like to split the data so I don't end up with an uneven distribution of classes.

In [35]:
# I cannot assess the distribution of numeric_features therefore i will assess the distribution of nominal + boolean features

total_features = nominal_features + boolean_features + ["reoffended_within_3_years"]

copy_df = df.copy()
ft_size = 25835 #how many columns there are  
max = 0
name = ""

for ft in total_features:
    dict = {}
    unique_ft = copy_df[ft].unique()
    #I am not particularly interested in their numbers more than I am in their distribution ratio which will be (number of ft in column) / (total nr of ft in column)
    for cat in unique_ft:
        dict[cat] = 0
        size_tuple = copy_df[copy_df[ft] == cat].shape #it is easier like this to get the sizes
        dict[cat] = size_tuple[0] / ft_size # now we calculate the ratio of distribution
        if dict[cat] > max:
            max = dict[cat]
            name = ft
        
    print(ft, dict)

gender {'F': 0.1225856396361525, 'M': 0.8774143603638475}
race {'white': 0.4253144958389781, 'black': 0.5746855041610218}
age {'28-32': 0.1928391716663441, '33-37': 0.16531836655699633, '48 or older': 0.1442616605380298, '18-22': 0.07996903425585446, '43-47': 0.10141281207664021, '23-27': 0.20034836462163733, '38-42': 0.11585059028449778}
gang_affiliated {False: 0.8475711244435843, True: 0.1524288755564157}
supervision_level {'High': 0.27129862589510356, 'Standard': 0.4529901296690536, 'Specialized': 0.27571124443584283}
education_level {'At least some college': 0.17824656473775885, 'High School Diploma': 0.44087478227211147, 'Less than HS diploma': 0.3808786529901297}
dependents {'3 or more': 0.3012192761757306, '0': 0.31108960712212114, '2': 0.17987226630539965, '1': 0.2078188503967486}
offence {'Property': 0.4474937100832204, 'Violent/Non-Sex': 0.2119218114960325, 'Other': 0.1075672537255661, 'Drug': 0.20089026514418423, 'Violent/Sex': 0.03212695955099671}
years_in_prison {'Less than 1 year': 0.3115153861041223, '1-2 years': 0.3129088445906716, 'More than 3 years': 0.2127346622798529, 'Greater than 2 to 3 years': 0.1628411070253532}
felony_arrests {'3': 0.10714147474356493, '5': 0.09610992839171667, '2': 0.10149022643700406, '4': 0.10439326495064835, '6': 0.08275595122895298, '10 or more': 0.2376620863170118, '9': 0.0456357654344881, '0': 0.009018772982388233, '7': 0.07036965357073738, '1': 0.08709115540932844, '8': 0.05833172053415909}
misdemeanor_arrests {'2': 0.12080510934778402, '6 or more': 0.31763112057286624, '1': 0.1346622798529127, '0': 0.15866073156570543, '4': 0.09057480162570157, '3': 0.10272885620282562, '5': 0.07493710083220437}
violence_arrests {'0': 0.42767563383007545, '3 or more': 0.15041610218695567, '2': 0.1398490419972905, '1': 0.28205922198567834}
property_arrests {'2': 0.15041610218695567, '5 or more': 0.22415328043352042, '1': 0.1977162763692665, '4': 0.07276949874201664, '3': 0.1026901490226437, '0': 0.2522546932455971}
drug_arrests {'1': 0.21528933617185989, '0': 0.30973485581575383, '3': 0.11774724211341203, '4': 0.07714341010257403, '2': 0.16109928391716663, '5 or more': 0.1189858718792336}
parole_violation_arrests {'2': 0.133501064447455, '4': 0.08705244822914651, '5 or more': 0.2445132572092123, '0': 0.25929940003870716, '3': 0.1074124250048384, '1': 0.1682214050706406}
felony_convictions {'1': 0.26951809560673506, '2': 0.16930520611573446, '0': 0.2918134313915231, '3 or more': 0.26936326688600737}
misdemeanor_convictions {'1': 0.20851557964002324, '4 or more': 0.23154635184826786, '0': 0.3026514418424618, '3': 0.10679311012192762, '2': 0.15049351654731952}
property_convictions {'1': 0.2282175343526224, '3 or more': 0.21037352428875555, '0': 0.43344300367718214, '2': 0.1279659376814399}
drug_convictions {'1': 0.2511708922005032, '0': 0.4871685697696923, '2 or more': 0.26166053802980455}
num_delinquency_reports {'0': 0.6799303270756726, '4 or more': 0.1708147861428295, '3': 0.04900329011031546, '1': 0.04757112444358429, '2': 0.05268047222759822}
num_program_attendances {'0': 0.5297464679698084, '2': 0.03201083801045094, '10 or more': 0.12506289916779562, '8': 0.017611766982775307, '1': 0.03882330172246952, '6': 0.10872846913102381, '5': 0.04420359976775692, '4': 0.030036771821172828, '7': 0.03212695955099671, '3': 0.025469324559705825, '9': 0.016179601316044127}
num_unexcused_absences {'0': 0.8051867621443778, '2': 0.04435842848848461, '1': 0.06510547706599575, '3 or more': 0.08534933230114186}
num_residence_changes {'0': 0.5134120379330366, '2': 0.1285852525643507, '3 or more': 0.11039287787884652, '1': 0.2476098316237662}
domestic_violence_arrests {False: 0.8347977549835495, True: 0.16520224501645056}
gun_arrests {False: 0.7358234952583704, True: 0.26417650474162957}
violence_convictions {False: 0.6753241726340236, True: 0.3246758273659764}
parole_violation_convictions {False: 0.6722275982194698, True: 0.3277724017805303}
domestic_violence_convictions {False: 0.9183665569963229, True: 0.08163344300367718}
gun_convictions {False: 0.8662666924714535, True: 0.13373330752854654}
parole_revocations {False: 0.9042771434101026, True: 0.09572285658989743}
probation_revocations {False: 0.8541900522546932, True: 0.14580994774530676}
mh_sa_programme {True: 0.6583317205341591, False: 0.34166827946584094}
cs_programme {False: 0.5571511515386104, True: 0.4428488484613896}
other_condition {True: 0.3242113412037933, False: 0.6757886587962066}
electronic_monitoring_violations {False: 0.9261467002128895, True: 0.07385329978711051}
instruction_following_violations {False: 0.826940197406619, True: 0.17305980259338108}
failure_to_report_violations {False: 0.924366169924521, True: 0.075633830075479}
moving_without_permission_violations {False: 0.8839558738145926, True: 0.1160441261854074}
employment_exempt {False: 0.86700212889491, True: 0.13299787110508998}
reoffended_within_3_years {False: 0.4231081865686085, True: 0.5768918134313915}

There are features which are aproximately evenly distributed, and some which aren't. I am pretty sure I cannot divide the dataset into dev set and test set such that every feature is evenly distributed. However, what I would like to try is to split the dataset at least by taking into account `gender, gang_affiliated and race`(even though the distribution of the races seems ok (0.42 - 0.57), this is a sensible subject, so I should try to ensure evenly distribution).

Next thing I would like to do is some data visualization, maybe do some feature engineering.

In [37]:
#I was thinking
#df[boolean_features] = (df[boolean_features] == True).astype(int)

In [38]:
numeric_features

['address',
 'risk_score',
 'days_between_drug_tests',
 'marijuana_positive_tests',
 'cocaine_positive_tests',
 'meth_positive_tests',
 'other_positive_tests',
 'days_employed',
 'jobs_per_year']

In [39]:
nominal_features

['gender',
 'race',
 'age',
 'gang_affiliated',
 'supervision_level',
 'education_level',
 'dependents',
 'offence',
 'years_in_prison',
 'felony_arrests',
 'misdemeanor_arrests',
 'violence_arrests',
 'property_arrests',
 'drug_arrests',
 'parole_violation_arrests',
 'felony_convictions',
 'misdemeanor_convictions',
 'property_convictions',
 'drug_convictions',
 'num_delinquency_reports',
 'num_program_attendances',
 'num_unexcused_absences',
 'num_residence_changes']

In [41]:
# We have a big dataset so I will not use kfolds-stratification
dev_df, test_df = train_test_split(df, train_size=0.8, stratify=df["reoffended_within_3_years"], random_state=2)